<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style type="text/css">
        .bs-example {
            margin: 20px;
        }

        .panel-title .glyphicon {
            font-size: 14px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top overrides">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Desaprendiendo</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color: white;">
                    <li><a asp-area="" asp-controller="Cursos" asp-action="Index">Cursos</a></li>
                    <li><a asp-area="" asp-controller="SubCategorias" asp-action="Index">SubCategorias</a></li>
                    <li><a asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a></li>
                    <li><a asp-area="" asp-controller="Lecciones" asp-action="Index">Lecciones</a></li>
                    <li><a asp-area="" asp-controller="Modulos" asp-action="Index">Modulos</a></li>
                    <li><a asp-area="" asp-controller="AMedidas" asp-action="Index">Cursos a Medida</a></li>
                    <li><a asp-area="" asp-controller="CategoriaFront" asp-action="Index">Front </a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Desaprendiendo</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/accordion.css" rel="stylesheet" />
    <link href="~/Content/demos.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                /* Toggle between adding and removing the "active" class,
                to highlight the button that controls the panel */
                this.classList.toggle("active");

                /* Toggle between hiding and showing the active panel */
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>
