@model IEnumerable<Desaprendiendo.Models.DomainModel.Categoria>

@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<    <!-- Tripartita -->
<div class="container space">
    <main>
        <div class="space-around space-bot">
            <!-- Texto Tripartita -->
            <div class="col-md-1">
                <div>
                    <h3 class='cab-tit'>Desaprendiendo y Fundae</h3>
                    <p>
                        <strong>Desaprendiendo es Entidad Organizadora de Fundae para impartir formación bonificada en las empresas e impartir cursos oficiales.</strong> 
                    </p>
                    <p>
                        En función de los créditos y el tipo de formación, puedes bonificar parcial o totalmente nuestros cursos.
                    </p>
                    <p>
                        Tus créditos se renuevan de forma anual, por lo que puedes recurrir a este servicio todos los años en el momento que necesites bonificar la formación de tus empleados.
                    </p>
                    <p>
                        Toda formación debe estar debidamente tramitada y cuenta con un riguroso seguimiento de control del alumno, así como un control de firmas diario, por ello estamos capacitados para llevar la gestión y trámites necesarios de la formación bonificada de su empresa, únicamente necesitaremos su autorización para gestionarlo en la plataforma web.                    </p>
                    <p>
                        Para cualquier duda o necesidad puedes contactar con nosotros vía e-mail o en el teléfono: <a href='tel:633126008' title='Llame sin compromiso'>633126008</a> 
                        y pregunte por Elisa.
                    </p>
                </div>
            </div>
            <!-- Icono enlace a correo -->
            <div class="col-md-2">
                <a href='mailto:administracion@desaprendiendo.net' title='Resolvemos tus dudas'>
                    <img src="/images/ico-mail.jpg" class="img-fluid mov">
                </a>
            </div>
        </div>
    </main>
</div>
<!-- Fin Tripartita -->
<!-- FUNDAE -->
<main class='amarillo-bg'>
    <div class="space">
        <!-- Texto FUNDAE -->
        <h3 class='cab-tit left negro-tx'>FUNDAE</h3>
        <div class="col-sm-0">
            <p>
                La <strong>Fundación Estatal para la Formación en el Empleo (FUNDAE)</strong> es una fundación del sector público estatal española encargada de impulsar y coordinar la ejecución de las políticas públicas en materia de Formación Profesional, en el ámbito del empleo y las relaciones laborales.
            </p>
            <p>
                Hasta el año 2015, cuando se reforma el sistema de formación para el empleo, su denominación era Fundación Tripartita para la Formación en el Empleo.
            </p>
            <p>
                El Sistema de Formación para el Empleo tiene la misión de formar y capacitar a las personas para el trabajo y actualizar sus competencias y conocimientos a lo largo de su vida profesional.
            </p>
            <p>
                La <strong>Formación para el Empleo</strong> se financia mediante bonificaciones en las cuotas a la Seguridad Social que pagan las empresas y cofinanciación privada.
            </p>
            <p>
                Esta entidad gestiona los cursos para trabajadores que pueden ser bonificados a través de la cuota de formación profesional de la Seguridad Social.
            </p>
        </div>
    </div>
</main>
<!-- Fin FUNDAE -->
<!-- Servicios -->
<div class="container space">
    <main>
        <h3 class='cab-tit'>Servicios</h3>
        <div class="flex-start-justi">
            <div class="col-pq servis">
                <div class="card space-around">
                    <img class="card-img-ico" src='images/ico-ser1.png' />
                    <div class="card-body">
                        <div class="card-text">
                            <div id="collapse-example" aria-labelledby="heading-example">
                                <p>
                                    Prestar apoyo técnico a las Administraciones Públicas y a las organizaciones empresariales y sindicales presentes en la Comisión Estatal de Formación y en el Patronato de la Fundación.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-pq servis">
                <div class="card space-around">
                    <img class="card-img-ico" src='images/ico-ser2.png' />
                    <div class="card-body">
                        <div class="card-text">
                            <div id="collapse-example" aria-labelledby="heading-example">
                                <p>
                                    Colaborar y asistir técnicamente al Servicio Público de Empleo Estatal en sus actividades de gestión de las iniciativas de formación.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-pq servis">
                <div class="card space-around">
                    <img class="card-img-ico" src='images/ico-ser3.png' />
                    <div class="card-body">
                        <div class="card-text">
                            <div id="collapse-example" aria-labelledby="heading-example">
                                <p>
                                    Apoyar al Servicio Público en el diseño e implantación de medios telemáticos para que las empresas comuniquen el inicio y finalización de la formación.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-pq servis">
                <div class="card space-around">
                    <img class="card-img-ico" src='images/ico-ser4.png' />
                    <div class="card-body">
                        <div class="card-text">
                            <div id="collapse-example" aria-labelledby="heading-example">
                                <p>
                                    Elaboración de propuestas de resoluciones normativas relativas al subsistema de formación profesional para el empleo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-pq servis">
                <div class="card space-around">
                    <img class="card-img-ico" src='images/ico-ser5.png' />
                    <div class="card-body">
                        <div class="card-text">
                            <div id="collapse-example" aria-labelledby="heading-example">
                                <p>
                                    Contribuir al impulso y difusión de la formación profesional para el empleo entre las empresas y los trabajadores.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-pq servis">
                <div class="card space-around">
                    <img class="card-img-ico" src='images/ico-ser6.png' />
                    <div class="card-body">
                        <div class="card-text">
                            <div id="collapse-example" aria-labelledby="heading-example">
                                <p>
                                    Asistencia a las Pymes para facilitar su acceso a la formación profesional para el empleo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-pq servis">
                <div class="card space-around">
                    <img class="card-img-ico" src='images/ico-ser7.png' />
                    <div class="card-body">
                        <div class="card-text">
                            <div id="collapse-example" aria-labelledby="heading-example">
                                <p>
                                    Colaborar con el SEPE en la mejora de la calidad de la formación, en la elaboración de estadísticas sobre formación y en la creación y mantenimiento del Registro estatal de centros de formación.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-pq servis">
                <div class="card space-around">
                    <img class="card-img-ico" src='images/ico-ser8.png' />
                    <div class="card-body">
                        <div class="card-text">
                            <div id="collapse-example" aria-labelledby="heading-example">
                                <p>
                                    Participar en foros nacionales e internacionales relacionados con la formación profesional para el empleo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </main>
</div>
<script type="text/javascript">
    var elemento = document.getElementById("Tripartita");
    elemento.classList.add("active");
</script>