@model IEnumerable<Desaprendiendo.Views.ViewComponents.ViewModels.BreadCum.Bread>
    <div class="space-bot" style="margin-left:10%;">
        <nav class="navbar-dark">
            <ol class="breadcrumb">
                 @foreach (var item in Model)
                {
                    <li class="breadcrumb-item">
                        <a asp-controller=@item.Controlador asp-action=@item.Accion
                           asp-route-id=@item.ParametroId>@item.Titulo</a>
                    </li>
                }
            </ol>
        </nav>
    </div>